.checkOutItems{
    height: 6rem;
    width:25rem;
    overflow: auto;
    text-align: left;
    
}
.checkOutItem{
    display: flex;
    justify-content: space-around;
}

.checkOutItemTitle{
    width: 15rem;
}