.Footer{
    margin-top: 5rem;
    background-color: rgba(2, 41, 16, 1);
    color: white;
    width: 100%;
    padding: 0.5rem;
    z-index: 50;
}
.FooterMain{
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-around;
    flex-wrap: wrap;
    /* height: 22vh; */
}

.FooterTag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin:1rem;
}
.FooterTag i{
    font-size: 1.3rem;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.FooterTag i:hover{
    transform: scale(1.2);

}
hr{
    height:0.2rem;
    margin-bottom: 0.5rem;
}

.FooterSec{
    
    /* text-align: ; */
    display:flex;
    gap: 0.3rem;
    flex-flow: column;
    align-items: center;
    justify-content: top;
    height:18vh;
}