.navigation{
    width: 100%;
    height: 3.5rem;
    background-color: var(--brown);
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: rgba(0,0,0,0.25);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 5% 0 8%;
}
.navigation h3{
    text-shadow: 3px 4px 2px rgba(0,0,0,0.25), -3px -4px 2px rgba(0,0,0,0.25);
}
.nav{
    /* margin-right: 5rem; */
    /* padding: 5px; */
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
    /* background-color: silver; */
    /* padding-right:0 */

    
}
ul{
   
    list-style: none;
   
}
ul div a, button{
    margin-left:1.5rem;
}
a{
    
    text-decoration: none;
    color: white;
}
ul i{
    color: white;
    font-size: 1.5rem;
}
button{
    border: none;
    color: white;
    background-color: transparent;
    font-size: 0.9rem;
    
}
.AuthButton{
    border-radius: 1rem;
    padding: 0.4rem 0.5rem;
    transition: all 0.2s ease-out;
    color: #2c0d00;
    background-color: white;
    border: 1px solid #2c0d00;
}
.AuthButton:hover{
    transform: scale(1.05);
    border: none;
    background-color: #2c0d00;
    color: white;
    border: 1px solid white;
}