  
.summary {
  text-align: center;
  max-width: 40rem;
  width: 90%;
  margin: auto;
  margin-top: -8rem;
  position: relative;
  background-color: #383838;
  color: white;
  padding: 1rem;
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}

.summary>p{
    margin-top: 1rem;
}