.Product{
    width: 90%;
    /* height: 10rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 1rem; */
    transition: all 0.3s ease;
}
.Product:hover{
    transform: scale(1.01);
}
.Product .ProductImg{
    width:20%;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
}
.ProductImg img{
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    
}
.ProductDetails{
    width: 70%;
    border-radius: 1rem;
    background-color:khaki;
    padding: 0.6rem;
    border:2px solid rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ProductButtons{
    width:15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.ProductDetail{
    width:100%;
    height:80%;
    
    text-align: left;
    display:flex;
    flex-direction: column;
    
}
.ProductDetail h3{
    color:maroon;
    margin-bottom: 1rem;
}
.Count{
    padding:0.2rem 0.5rem;
    border:1px solid var(--brown);
    border-radius:0.6rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:3.2rem

}
.IncrDecrBtn{
    /* display: flex;
    align-items: center;
    flex-flow: column; */
    /* gap:0.1rem; */
    /* height:1rem */
    margin-left: 1rem;

}
.IncrDecrBtn button{
    padding: 0.2rem 1rem;
    display:block
}
.ProductSummary{
    width: 14rem;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    

}
.BtnCart_desktop{
    display: block;
}
.BtnCart_mobile{
    display: none;
}

.Product_Head{
    height: 2.5rem;
}

@media (max-width:576px){
    .Product{
        border-radius: 0.2rem;
        font-size: 14px;
    }
    .BtnCart_desktop{
        display: none;
    }
    .BtnCart_mobile{
        display: block;
    }
    .Product{
        width: 46%;
        display: block;
        flex-wrap: wrap;
        padding: 0;
    }
    .Product .ProductImg{
        width: 100%;
        height: 10rem;
        border-radius: 1rem 1rem 0 0;
    }
    .ProductImg img{
        border-radius: 0;
    }
    .ProductDetails{
        width: 100%;
        border: none;
        display: block;
        border-radius: 0;
    }
    .ProductSummary{
        /* border: 1px solid red; */
        width:8rem;
        display: flex;
        align-items:flex-start;
        text-align: left;
        flex-flow: column;
        gap:0.4rem;
        /* justify-content: space-between; */
        
    
    }
    .CartButtons{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 1rem;
}
.count{
    
}
}